@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: $number-chars;
  }
}

@keyframes type2 {
  0% {
    width: 0ch;
  }
  100% {
    width: 32ch;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideInUp2 {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

// The typing animation
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14ch;
  }
}
// typing animation for longer text
@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 22ch;
  }
}

// The typewriter cursor animation
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
