.events {
  // element containing the events page
  position: relative;
  display: block !important;
  height: fit-content !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero-big.jpg) !important;
  @media only screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero-medium.jpg);
  }
  @media only screen and (max-width: 900px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero-small.jpg);
  }
  @media only screen and (max-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero-tiny.jpg);
  }
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  &__container {
    display: grid;
    grid-template-columns: 1.05fr 1.15fr 1.1fr; // container of all events
    grid-gap: 2rem;
    padding: 5rem;
    height: 100%;
    @media only screen and (max-width: 1200px) {
      padding: 5rem 2rem;
      grid-gap: 2rem;
    }
    @media only screen and (max-width: 1050px) {
      grid-template-columns: 1fr 1fr; // container of all events
      padding: 5rem 3rem;
      grid-gap: 3rem;
      height: auto;
    }
    @media only screen and (max-width: 700px) {
      padding: 5rem 2rem;
    }
    @media only screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      padding: 4rem;
      padding-top: 5.5rem;
    }

    .event {
      @include shadow-3;
      color: white;
      background-color: rgba(white, 0.2);
      border-radius: 2rem;
      display: flex;
      overflow: hidden;
      animation: slideInUp 1s ease-in-out;
      animation-fill-mode: backwards;
      &__img-container {
        // containing the img
        background-color: white;
        height: 100%;
        img {
          @media only screen and (max-width: 700px) {
            width: 100px;
          }
        }
      }

      &__text {
        // containing everything beside the img
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.5rem;
        & > *:not(last-child) {
          flex: 0 0 50%;
          display: flex;
          align-items: center;
        }
        @media only screen and (max-width: 500px) {
          padding: 2rem;
        }
        &--title-normal {
          // default title size
          font-size: 1.6rem;
          // @media only screen and (max-width: 1440px) {
          //   font-size: 1.5rem;
          // }
          @media only screen and (max-width: 1050px) {
            font-size: 2.3rem;
          }
          @media only screen and (max-width: 700px) {
            font-size: 2rem;
          }
          @media only screen and (max-width: 500px) {
            font-size: 2.5rem;
          }
        }
        &--title-med {
          // if text short, bigger title
          font-size: 2.1rem;
          @media only screen and (max-width: 1050px) {
            font-size: 2.5rem;
          }
          @media only screen and (max-width: 700px) {
            font-size: 2rem;
          }
          @media only screen and (max-width: 500px) {
            font-size: 2.7rem;
          }
        }
        &--title-big {
          // if text short, bigger title
          font-size: 2.4rem;
          @media only screen and (max-width: 1050px) {
            font-size: 2.8rem;
          }
          @media only screen and (max-width: 500px) {
            font-size: 3rem;
          }
        }
        &--title-huge {
          // if text shorter, biggest title
          font-size: 3rem;
          @media only screen and (max-width: 1050px) {
            font-size: 3.6rem;
          }
        }
        &--maps {
          // 2 things container - distance and time buttons
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex: 0 0 50%;
          margin-top: 0.5rem;
          .icon {
            // for icons of buttons
            font-size: 1.7rem;
            color: rgba(white, 0.5);
            margin-left: 1rem;
            transition: all 0.4s ease;
            @media only screen and (max-width: 1450px) {
              margin-left: 0.5rem;
            }
            @media only screen and (max-width: 1050px) {
              font-size: 3rem;
            }
            @media only screen and (max-width: 700px) {
              font-size: 2rem;
            }
            @media only screen and (max-width: 500px) {
              font-size: 2.7rem;
            }
          }
          &-distance {
            display: flex;
            border-radius: 0.5rem;
            color: white;
            padding: 1.2rem 1.5rem;
            font-size: 2rem;
            justify-content: space-evenly;
            cursor: pointer;
            margin-right: 1rem;
            @include shadow-default;
            background-color: rgba(white, 0.2);
            transition: all 0.5s ease;
            @media only screen and (max-width: 1450px) {
              padding: 0.8rem 1.2rem;
            }
            @media only screen and (max-width: 1050px) {
              padding: 1.2rem 1.5rem;
              font-size: 3rem;
            }
            @media only screen and (max-width: 700px) {
              font-size: 2rem;
            }
            @media only screen and (max-width: 500px) {
              font-size: 2.7rem;
              padding: 1.4rem 2rem;
            }
            &:hover,
            &:hover > * {
              color: black;
            }
            &:hover {
              background-color: rgba(white, 0.5);
            }
          }
          &-date {
            border-radius: 0.5rem;
            background-color: rgba(white, 0.2);
            @include shadow-default;
            color: black;
            font-size: 2rem;
            padding: 1.2rem 1.2rem;
            @media only screen and (max-width: 1450px) {
              padding: 0.8rem 0.8rem;
            }
            @media only screen and (max-width: 1050px) {
              padding: 1.2rem 1.5rem;
              font-size: 3rem;
            }
            @media only screen and (max-width: 700px) {
              font-size: 2rem;
            }
            @media only screen and (max-width: 500px) {
              padding: 1.4rem 2rem;
              font-size: 2.7rem;
            }
            color: white;
            cursor: pointer;
            transition: all 0.5s ease;
            overflow: hidden;
            position: relative;
            &:hover,
            &:hover > * {
              color: black;
            }
            &:hover > * {
              color: transparent;
              & > * {
                color: transparent;
              }
              .eventful {
                color: black;
              }
            }
            & > * {
              transition: all 0.5s ease;
            }
            &:hover {
              background-color: rgba(white, 0.5);
            }
            .eventful {
              position: absolute;
              top: 50%;
              left: 50%;
              font-size: 1.4rem;
              transition: all 0.5s ease;
              transform: translate(-50%, -50%);
              color: transparent;
            }
            .date {
              transition: all 0.5s ease;
            }
          }
        }
      }
    }
  }
}
