.events__map {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  display: flex;
  background-color: rgba(black, 0.4);
  &--container {
    @include shadow-5;
    margin: auto;
    width: 70%;
    height: 90%;
    border-radius: 2rem;
    background-color: rgba(white, 0.9);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    @media only screen and (max-width: 1050px) {
      width: 90%;
    }
    @media only screen and (max-width: 1050px) {
      width: 96%;
      height: 75%;
    }
    .x-icon {
      position: absolute;
      top: 2rem;
      right: 2rem !important;
      font-size: 4rem;
      color: rgba(black, 0.45);
      cursor: pointer;
      transition: all 0.4s ease;
      &:hover {
        color: black;
      }
    }
  }

  &--text {
    margin-bottom: 2rem;
    .venue {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }
    .adress {
      font-size: 2rem;
      color: rgba(#000, 0.7);
    }
  }

  #map {
    flex: 1;
    i {
      right: 1rem !important;
      position: absolute;
      display: inline-block;
    }
  }
}

.x-icon {
  position: absolute;
  top: 0.5rem;
  color: rgba(white, 0.35);
  font-size: 4rem;
  z-index: 10000;
  transition: all 0.4s ease;
  cursor: pointer;
  width: 4rem;
  &:hover {
    color: rgba(white, 0.9);
  }
  &--main {
    left: 0.5rem;
  }
  &--map {
    right: 0.5rem !important;
  }
}
