@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Regular.woff2') format('woff2'), url('fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Semibold.woff2') format('woff2'), url('fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Bold.woff2') format('woff2'), url('fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Black.woff2') format('woff2'), url('fonts/ProximaNova-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
